<div>
  <h1><b>POT DE DEPART 2023 LDLC</b></h1>
  <p><b>BITCOIN ACHETÉ le 04/09/2023</b></p>
  <p><b>montant en euro :</b> 260 €</p>
  <p><b>montant en BTC :</b> {{this.amount}}</p>
  <br /><br />
  <h1><b>valeur aujourd'hui (euro) :</b>{{this.value.toFixed(2)}} €</h1>

  <br /><br /><br /><br />
  <h2><b>merci les amis : 😘</b></h2>
</div>
